NODE_ENV=development # development/production

PORT=3000

DATABASE_URL=postgresql://pg-user:pg-password@localhost:6666/preferences-db
DATABASE_POOL_MAX=10 # number of connections in prisma connection pool
